@{
    ViewData["Title"] = "Python + .NET Test";
}

<style type="text/css" media="screen">
    #container {
        height: 80vh;
    }

    #editor {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Python + .NET Test</h1>
    <form asp-controller="Home" asp-action="Index" method="post" onsubmit="onsubmit()">
        @Html.Hidden("code")
        <div id="container">
            <div id="editor">@ViewBag.Code</div>
        </div>

        <button class="btn btn-primary my-lg-4" onclick="popular()">Enviar</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.min.js" integrity="sha512-jB1NOQkR0yLnWmEZQTUW4REqirbskxoYNltZE+8KzXqs9gHG5mrxLR5w3TwUn6AylXkhZZWTPP894xcX/X8Kbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/theme-github.min.js" integrity="sha512-7k6si+5hoSDYPfRd8EdNaWCq5s4xMp+XFVmHg5FYHoXvk80DYFrNStvFZ1U68DpVjInm1Q305D6OU7YEz1Gb4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-python.min.js" integrity="sha512-5quc8iiv3k68XXN7adEav7dyI4bnTDz7WSa99HZmgJk8gZlabsTQibJso2fAZpSO598IZIasgfu/StF9oX+kqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.all.min.js"></script>
<script>
    ace.config.set('basePath', '/')
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/python")
    function popular() {
        var editor = ace.edit("editor");
        document.getElementById("code").value = editor.getSession().getValue();
    }
</script>
<script>
    var result = '@ViewBag.Result?.ToString()';
    var error = '@ViewBag.Error';
    if (result && result.length > 0)
        Swal.fire(
            result,
            '',
            'info'
        )
    else if (error && error.length > 0)
        Swal.fire(
            error,
            '',
            'error'
        )
</script>
